<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.computer.ComputerHomeDao">
    <select id="getAll" resultType="com.entity.ComputerInfo">
        select computer_id,computer_name,computer_price,
          computer_amount,computer_state,computer_brand_id,computer_image,
          cpu_type,gpu_type,ram_type from computer_info order by computer_id
    </select>

    <!--根据电脑牌子来查询-->

    <select id="getComputerByBrand" resultType="com.entity.ComputerInfo">
        select computer_id, computer_name, computer_price, computer_amount, computer_state, computer_brand_id, computer_image, cpu_type, gpu_type, ram_type from computer_info
        where computer_brand_id = #{bid}
    </select>

    <!--查询所有电脑牌子-->
    <select id="getAllBrand" resultType="com.entity.ComputerBrand">
        select brand_id, brand_name, brand_image from computer_brand
    </select>
</mapper>