<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.computer.OrderDao">
    <insert id="createOrder">
        insert into order_info(order_id,account_name,computer_id,order_date,price,num,phone,address) values
            (#{param1},#{param2},#{param3},#{param4},#{param5},#{param6},#{param7},#{param8})
    </insert>
</mapper>