<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.user.SelfInfoDao">
    <select id="listOrderInfo" resultType="com.entity.OrderInfo">
        select b.computer_image,a.order_id,a.state,a.price,a.phone
        from order_info a inner join computer_info b on a.computer_id = b.computer_id
        where account_name = #{accountName}
    </select>
</mapper>